.banner{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        margin-top: 2rem;
        color:$primary-color;
        font-size: 4rem;
        font-weight: bolder;
        text-align: center;
    }
}